:root{
    --primary:rgba(255, 255, 255, .7);
}

.Nav{
    height: 100%;
    width:fit-content;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: black;
    transition: 0.5s ease;
    overflow-x: hidden;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 3rem;
    padding-left: 1rem;
    padding-right: 5rem;

}
.logo > li{
    color:white!important;
    list-style: none;
    font-size: 1.5rem;
    text-align: left;
    padding: 0rem 1rem;
    list-style: '>';
    text-transform: uppercase;


}
.logo > li > .link{
    color:white!important;
}
.logo{
    margin-bottom: 3rem;
}
.Nav > li {
    color: var(--primary);
    text-align: left;
    padding: 1.2rem 2rem 0.1rem 2rem;
    list-style: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Roboto Condensed,sans-serif;
    font-size: small;
}
.Nav > li:hover {
    color: white;
    text-align: left;
    list-style: none;
}
.logo:hover {
    color: white;
    text-align: left;
    list-style: none;
}
.footer{
    position: absolute;
    bottom: 15px;
    font-size: 1.2rem;
}
.footer >a{
    text-decoration: none;
    color: var(--primary);
    padding: 0 0.5rem;
}
.footer >a:hover{
    color: white;
}
.link{
    text-decoration: none;
    color: var(--primary); 
}
.link:hover{
    color: white;
}

.navBtn{
    display: none;
}

.navHide{
    display: none;
    transition: ease-in 2s;
}
.navShow{
    display: none;
    transition: ease-in 2s;
}
@media screen and (max-width: 1024px) {
    
    .Nav{
    height: fit-content;
    width:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: black;
    transition: 0.5s ease;
    padding-top:20px;
    padding-left:20px;
    align-items: left;
    padding: 0;
    display: inline-block;

    }
    .Nav > li {
        color: var(--primary);
        padding: 1rem;
        list-style: none;
        display: inline-block;
        border-bottom: none;
        display: none;
    }
    .footer{
        display: none;
    }      
    .logo > li{
        padding:0rem;
        letter-spacing: 2px;
        
    }
    .logo{
        margin:0;
        padding: 0.5rem;
        color: white;
    }
    .navBtn{
        display: inline-block;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        cursor: pointer;
        
    }

    .navHide{
        display: none;
        transition: ease-in 1s;
    }
    .navShow{
        display: block;
        transition: ease-in 1s;
        list-style: none;
        padding:0;
        margin: 0;
    }

    .navShow>.link{
        text-decoration: none;
        color: var(--primary); 
    }
    .navShow>.link:hover{
        color: white;
    }

    .navShow> li{
        padding-top: 1rem;
        padding: 0.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        text-transform: uppercase;
        font-family: Roboto Condensed, sans-serif;
        font-size: small;
        letter-spacing: 2px;
        
    }

  }